
@{
    ViewBag.Title = "Employee Landing";
}

<div class="container d-flex flex-wrap justify-content-center">
    @if (User.IsInRole("Front Desk Agent") || User.IsInRole("Admin"))
    {
        <div class="col-lg-3">
            <div class="card m-2" style="width: 18rem;">
                <a href="@Url.Action("Reservations", "EmployeeLanding")"><img src="~/Images/ReservationsCard.png" class="card-img-top h-100" alt="Reservations image"></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card m-2" style="width: 18rem;">
                <a href="@Url.Action("RoomManagement","EmployeeLanding")"><img src="~/Images/RoomsCard.png" class="card-img-top h-100" alt="Room image"></a>
            </div>
        </div>
        @*<div class="col-lg-3">
            <div class="card m-2" style="width: 18rem;">
                <a href="@Url.Action("Index","Home")"><img src="~/Images/SalesCard.png" class="card-img-top h-100" alt="Guest In Room"></a>
            </div>
        </div>*@
    }
    @if (User.IsInRole("Housekeeper"))
    {
        <div class="col-lg-3">
            <div class="card m-2" style="width: 18rem;">
                <a href="@Url.Action("RoomManagement","EmployeeLanding")"><img src="~/Images/RoomsCard.png" class="card-img-top h-100" alt="Room image"></a>
            </div>
        </div>
    }
</div>

