body {
    background-color: #e5ddce;
}

.card {
    background-color: #E3DAC9;
}


a:hover {
    color: white;
}

.btn {
    background-color: #b5aea0;
}

.btn:hover {
    background-color: #44413C;
    color: white;
}

.dropdown-menu {
    background-color: #b5aea0;
}

.dropdown-item:hover {
    background-color: #44413C;
}

.nav-item {
    margin-left: .1em;
    margin-right: .1em;
}

.page-alt {
    background-color: #E3DAC9;
}

.navbar {
    background-color: #44413C;
}

input {
    background-color: #eee8de;
}

.navbar-brand {
    color: white;
}

.fc .fc-col-header-cell-cushion {
    color: #b5aea0;
}

.fc-col-header {
    background-color: #44413C;
}

.fc-daygrid-day-number {
    color: black;
}

.fc .fc-button-primary {
    background-color: #b5aea0 !important;
    border: none;
    margin: 1%;
}

